<div>   
    <form>
        <label for="id">Id:</label><br>
        <input type="text" id="id" name="id"><br>
        <label for="fname">Nombre:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Apellido:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="doctype">Tipo Documento:</label><br>
        <input type="text" id="doctype" name="doctype"><br>
        <label for="docnum">Número Documento:</label><br>
        <input type="text" id="docnum" name="docnum"><br>
        <label for="position">Cargo:</label><br>
        <input type="text" id="position" name="position">
        <br><br>
        <button type="button">Buscar</button>
        <button type="button">Nuevo</button>
        <button type="button">Actualizar</button>
      </form>
      <br><br>
</div>

<footer>
    <p>Autor: Joan Tangarife<br>
    <a href="mailto:jonsty@gmail.com">jonsty@gmail.com</a></p>
</footer>